# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Custom items below
*.zip
*.csv

!fx_data/data/oanda/README.md

/fx_data/data/*/*/*
/fx_data/data/*/*/*/*
!fx_data/data/truefx/2015/GBPUSD-2015-01-01.csv
!fx_data/data/sentdex/2013/GBPUSD-2013-05-01.csv
!fx_data/data/oanda/GBP_USD/2017/oanda-GBP_USD-2017-1.csv
!fx_data/data/oanda/README.md

strategies/*
!strategies/ma.py
!strategies/ma_crossover.py
!strategies/triple_ema_crossover.py
!strategies/bollinger_bands.py
!strategies/trends.py
!strategies/README.md

README2.md

docs
